{# Content taken from http://sonic.net/errors/text.shtml #}
{% extends 'item_layout.html %}
{% block title %}401 Error - Authentication Failed{% endblock %}
{% block card_title %}401 Error - Authentication Failed{% endblock %}
{% block page_content %}
<p class="lead">The URL you've requested,<strong>{{ session['next'] }}</strong>
  requires a correct username and password. Either you entered
  an incorrect username/password, or your browser doesn't support
  this feature.
</p>
<a class="btn btn-primary" href="{{ url_for('login') }}">Return to login</a>
{% endblock %}