{% from 'macros.html' import show_categories %}
{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-3">
    <div class="card">

      <div class="card-block">
        <h3 class="card-title"><a href="{{ url_for('index') }}" class="card-link">Categories</a></h3>
        <!-- Only visible for viewports > 768px -->
        <div class="hidden-md-up">
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseCategory" aria-expanded="false" aria-controls="collapseExample">
            {% if selected_category %}
            {{ selected_category.name }}
            {% else %}
            Latest
            {% endif %}
          </a>
        </div>
      </div>
      <!-- For viewports < 768px -->
      <div class="collapse hidden-md-up" id="collapseCategory">
        {{ show_categories(categories, selected_category, False) }}

      </div>
      <!-- Only visible for viewports > 768px -->
      {{ show_categories(categories, selected_category, True) }}

    </div>
  </div>
  <div class="col-12 col-md-9">
    <div class="card add-gap">
      <div class="card-block">
        <h2 class="card-title">{% block category_title %}{% endblock %}</h2>
        {% block page_content %}
        {% endblock %}
        <a href='{{url_for("new_item")}}'><button type="button" class="btn btn-primary">Add item</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}