{% extends 'item_layout.html'%}
{% block page_content %}
<div class="col-12 col-md-8 mx-auto">
    <form method='POST' action='{{url_for("edit_item", item_id = item.id )}}'>
        {{ form.csrf_token }}
        <div class="form-group row {% if form.name.errors %}has-danger{% endif %}">
            <label for="item-name" class="col-2 col-form-label">{{ form.name.label }}</label>
            <div class="col-sm-10">
                {{ form.name(size=80, class_="form-control form-control-danger") }}
                {% if form.name.errors %}
                {% for error in form.name.errors %}
                <div class="form-control-feedback">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="item-description" class="col-sm-2 col-form-label">{{ form.description.label }}</label>
            <div class="col-sm-10">
                {{ form.description(column=80, row=50, class_="form-control")}}
            </div>
        </div>
        <div class="form-group row">
            <label for="item-category" class="col-sm-2 col-form-label">{{ form.category.label }}</label>
            <div class="col-sm-10">{{ form.category(class_="form-control") }}</div>
        </div>
        <button type='submit' class="btn btn-primary" value='Create Item'>Submit</button>
    </form>
</div>
{% endblock%}