{% extends 'base.html'%}

{% block content%}
<h1>Catalog app</h1>

<p><a href='{{ url_for("add_item") }}'>Add item</a></p>
<p> Latest items </p>
<div>
{% if items%}
<ul>
{% for item in items: %}
    <li>
        <p> {{ item.name }}, <a href='{{ url_for("show_category", category_id=item.category.id)}}'>{{ item.category.name }}</a></p>
    </li>
{% endfor %}
</ul>
{% else %}
<h3>Oops! Nampakngit ya tiada panduan lagi dialam laman web kami! Sila layari balik pada masa hadapan!</h3>
{% endif %}
{% endblock%}