{% extends 'item_layout.html'%}

{% block page_content%}
<div class="row">
<div class="col-md-6 mx-auto">
<h4 class="card-title">{{ item.name }}</h4>
<p>Description: {{ item.description }}</p>
<div class="media">
    <div class="media-body">
        <p class="mt-0 mb-0">Created by: {{ item.user.name }}</p>
    </div>
    {% if item.user.picture %}
    <img class="d-flex align-self-center ml-3 rounded-circle" src="{{item.user.picture}}" alt="{{ current_user.name }}'s picture" width="64" height="64">
    {% else %}
    <img class="d-flex align-self-center ml-3 rounded-circle" src="http://i.pravatar.cc/64" alt="{{ current_user.name }}'s picture" width="64" height="64">
    {% endif %}
</div>
{% if current_user.id == item.user.id %}
<a href='{{url_for("edit_item", item_id=item.id)}}'>Edit</a> |
<a href='{{url_for("delete_item", item_id=item.id)}}'>Delete</a>
{% endif %}
</div>
</div>
{% endblock%}