body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

.login {
    display: block;
    padding-top: 0.5em;
}

.content-box {
    background-color: white;
}

.sidebar {

}


.remove-border:first-child {
    border-top-right-radius: 0;
    border-radius: 0px 0px 0px 0px;
}

html {
  font-size: 14px;
}

@media (max-width: 767px) {
    .add-gap {
    margin-top: 25px;
    }
}

